*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    width: 100%;
    height: 15vh;
    position: fixed;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
}

.lft-nav {
    font-size: 1.5vw;
    height: 6vh;
    overflow: hidden;
    cursor: pointer;
}

.lft-nav h1{
    transition:cubic-bezier(0.19, 1, 0.22, 1)0.4s;
}

.lft-nav:hover #logo{
    margin-top: -5vh;
}

.rght-nav{
    height: 3vh;
    overflow: hidden;
    cursor: pointer;
}

.rght-nav h2{
    transition:cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.rght-nav:hover #nav-contact{
    margin-top: -3vh;
}

.part-1{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.content-part-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.rotate-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 200vw;
    height: 200vh;
    background-color: #000;
}

.row-div{
    width: calc(200vw/5);
    height: 100%;
    background: aliceblue;
}



